<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link rel="stylesheet" href="style.css">

    <title>Start a Session !</title>
    
  </head>
  <body style="background-color: white;">

    <form action="/create" method="post" class="form">
        <fieldset>
       
          <legend>Welcome</legend>
          <div class="inputs">
          <label for="class_name">
            Class Name
          </label>
          <input type="text" name="class_name" >

          <label for="instructor_name">
            Instructor Name
          </label>
          <input type="text" name="instructor_name" >
        </div>
        <input type="submit" value="Create Session">
      </fieldset>
    </form>
    
  </body>
</html>