<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="style.css">

    <title>{{ class_name }}</title>
    
  </head>
  <body style="background-color: white;">
    <h1>{{class_name}} </h1>
    <h2>by {{instructor_name}}</h2>
    <h3>  {{ link }} </h3>
    <img src='img.png'> 
  <form action="/download/{{ id }}" method="post" target="_blank">
    <input type="submit">
</form>>
   <a href="attendance.csv" download>Download</a>

    
  </body>
</html>