<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">



    <title>Class Attendance</title>
    
  </head>
  <body style="background-color: white;">
    <h1>Please Enter Your Name</h1>
    <form action="/student/{{ session_id }}" method="post">
      <fieldset>
       
        <legend>Welcome</legend>
        <input type="text" name="student_name">
        <input type="text" name="student_info">
        <input type="submit">
      </fieldset>
    </form>>

  </body>
</html>