fieldset {

    margin: 2em 0;
    padding: 1em 2em;
    border: 1px solid #3c9ae7;
    border-radius: 6px;
    min-width: 200px;

    }
legend {
    font-size: 1.25em;
    padding: 0 .25em;
    color: #3c9ae7;
}
label{
    display: block;
    margin-top: 1em;
}
label:first-of-type{
    margin-top: 0;
}
input {
    padding: 0.5em;
    border: solid 1px #999;
}
.inputs{
    margin-bottom: 1em;
}
input[type="submit"] {
    padding: .5em 1em;
    border-radius: 6px;
    background-color: #3c9ae7;
    color: #fff;
    font-family: 'Lato' , 'sans-serif';
    font-size: .8em;

}

@media screen and (min-width: 430px){
    legend {
        font-size: 1.75em;

    }
    fieldset{
        width: 40%;
        min-width: 320px;   
    }
}